# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/src/generated/prisma


# DATABASE_URL="mongodb+srv://shainaqueturas_db_user:mindtask123@cluster0.glkzdcq.mongodb.net/mindtask?retryWrites=true&w=majority&appName=Cluster0"